<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email Validator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="text-center">Email Validator</h1>
    <form class="text-center" id="email-form">
        <div class="form-group">
            <label for="email"></label><input class="form-control" id="email" name="email" placeholder="Enter email"
                                              type="text">
        </div>
        <button class="btn btn-primary" type="submit">Validate</button>
    </form>
    <div class="alert mt-3" id="result"></div>
</div>
<script src="static/script.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>