<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1 class="text-center mt-5">Welcome to the Messaging Website!</h1>
    <nav class="mt-5">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/send_message">Send Message</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/inbox">Inbox</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>